name: Deploy to Azure

on:
  push:
    branches: [ main ]

env:
  DOTNET_CORE_VERSION: 9.0.x
  CONTAINER_APP_NAME: artapi-container-app
  CONTAINER_APP_ENVIRONMENT_NAME: artEnv
  RESOURCE_GROUP: TakeTheArtAndRun
  CONTAINER_REGISTRY_NAME: taketheartandrun
  CONTAINER_REGISTRY_LOGIN_SERVER: taketheartandrun.azurecr.io

jobs:
  dockerfile-lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
      
    - name: Run Hadolint
      uses: hadolint/hadolint-action@v3.1.0
      with:
        dockerfile: Dockerfile
        failure-threshold: error

  test:
    runs-on: ubuntu-latest
    needs: dockerfile-lint
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
      
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_CORE_VERSION }}
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore --configuration Release
      
    - name: Run tests
      run: dotnet test --no-build --configuration Release --verbosity normal

  BuildAndDeployContainerApp:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: artapi
    needs: test
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
      
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_CORE_VERSION }}
        
    - name: Azure login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.artEnv_SPN }}
        
    - name: Container App deploy
      uses: azure/container-apps-deploy-action@v1
      with:
        appSourcePath: ${{ github.workspace }}/artapi
        acrName: ${{ env.CONTAINER_REGISTRY_NAME }}
        acrUsername: ${{ secrets.TakeTheArtAndRun_USERNAME_D7D4 }}
        acrPassword: ${{ secrets.TakeTheArtAndRun_PASSWORD_D7D4 }}
        imageToBuild: ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }}/${{ env.CONTAINER_APP_NAME }}:${{ github.sha }}
        containerAppName: ${{ env.CONTAINER_APP_NAME }}
        containerAppEnvironment: ${{ env.CONTAINER_APP_ENVIRONMENT_NAME }}
        resourceGroup: ${{ env.RESOURCE_GROUP }}
